body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
}

header, main, footer {
    text-align: center;
    padding: 40px;
    color: #333;
}

h1 {
    color: #333;
    margin: 0;
    font-size: 2.5em;
}

p {
    color: #666;
    line-height: 1.5;
}

footer {
    color: #999;
    border-top: 1px solid #eee;
    padding: 10px 0;
}

/* Add additional styling for the 'About Me' and 'Skills' sections */
section {
    margin-bottom: 20px;
}

section h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 10px;
}

section p, section ul {
    text-align: left;
    margin: 0 20% 20px 20%; /* This centers the content with some padding */
}

section ul {
    padding: 0;
    list-style-type: none;
}

/* Style the list items */
section ul li {
    background: #f8f8f8;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
}

/* Add a hover effect to list items */
section ul li:hover {
    background: #e8e8e8;
}

/* Responsive Design */
@media (max-width: 768px) {
    section p, section ul {
        margin: 0 10% 20px 10%; /* Increase padding for smaller screens */
    }
}
